:root {
    --baseFontSize: 14px;
    --responsiveFontSize: 0.5dvw;
}

body * {
    font-size: calc(var(--baseFontSize) + var(--responsiveFontSize));
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
}

#webserver fieldset,
#PID fieldset {
    display: flex;
    flex-direction: column;

    & input,
    & button {
        margin-block: 0.5rem;
        min-height: 2rem;
    }
}

#serial_monitor {
    grid-column: span 2;
    overflow-y: auto;
}